{% extends 'base.html' %}

{% block title %}
<title>Отбор астронавтов</title>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-row">
        <div class="col">
            <input type="surname" name="surname" placeholder="Фамилия" required>
        </div>
        <div class="col">
            <input type="name" name="name" placeholder="Имя" required>
        </div>
        <div class="col">
            <input type="email" name="email" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group">
        <select name="education" class="form-control">
            <option disabled>Образование</option>
            <option>Начальное</option>
            <option>Среднее</option>
            <option>Высшее</option>
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" name="profession" value="инженер-исследователь"> 
        <label for="profession">инженер-исследователь</label>
        <input type="checkbox" name="profession" value="пилот"> 
        <label for="profession">пилот</label>
        <input type="checkbox" name="profession" value="строитель"> 
        <label for="profession">строитель</label>
        <input type="checkbox" name="profession" value="врач"> 
        <label for="profession">врач</label>
        <input type="checkbox" name="profession" value="специалист по радиационной защите"> 
        <label for="profession">специалист по радиационной защите</label>
        <input type="checkbox" name="profession" value="астрогеолог"> 
        <label for="profession">астрогеолог</label>
    </div>
    <div class="form-group">
        <label for="form-check">Укажите пол</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
          <label class="form-check-label" for="male">
            Мужской
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" id="female" value="female">
          <label class="form-check-label" for="female">
            Женский
          </label>
        </div>
    </div>
    <div class="form-group">
        <label for="motivation">Ваша мотивация</label>
        <textarea class="form-control" id="motivation" rows="3" name="motivation" required></textarea>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="acceptRules" name="accept">
        <label class="form-check-label" for="acceptRules">Готовы остаться на марсе?</label>
    </div>
    <button type="submit" class="btn btn-danger">Записаться</button>
</form>
{% endblock %}