{% extends 'base.html' %}

{% block title %}
<title>Варианты выбора</title>
<link rel="stylesheet" type="text/css" href={{path_to_css}}/>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">Моё предложение: <b><i>{{ planet }}</i></b></h1>
        <hr class="my-4">
        <h4 class="display-3">Планета близкая к земле</p>
    </div>
</div>
<ul class="list-group">
    {% for line in lines %}
        <li class="list-group-item list-group-item-danger"><h2>{{ line }}</h2></li>
    {% endfor %}
</ul>
{% endblock %}