{% extends 'base.html' %}

{% block title %}
<title>Отбор астронавтов</title>
<link rel="stylesheet" type="text/css" href={{ path_to_css }}/>
{% endblock %}

{% block content %}
<form class="photo-form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="photo">Выберите файл</label>
        <input type="file" class="form-control-file" id="photo" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}